<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>新增</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">

    <style>
        .childrenBody{
            margin: 10px 10px 0;
        }
    </style>

</head>
<body class="childrenBody">
<form class="layui-form" action="" lay-filter="addSfe">

    <div class="layui-form-item">
        <label class="layui-form-label">自查名称</label>
        <div class="layui-input-block">
            <input type="text" name="title"  lay-verify="required" placeholder="请输入自查名称" autocomplete="on" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">选择项目</label>
        <div class="layui-input-block">
            <select name="prj" lay-filter="prj" id="prj">
                <option value=""></option>
                <option value="0">北京</option>
                <option value="1">上海</option>
                <option value="2">广州</option>
                <option value="3">深圳</option>
                <option value="4">杭州</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">自查标准</label>
        <div class="layui-input-block">
            <input type="radio" name="sex" value="二甲评审" title="二甲评审" checked>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="subBtn">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<script th:src="@{/layui/layui.js}"></script>
<script>
    //Demo
    layui.use(['element', 'form', 'laydate'], function(){
        var form = layui.form,
            $ = layui.jquery,
            laydate = layui.laydate;

        //日期范围
        laydate.render({
            elem: '#test6'
            ,range: true
        });;

        //监听提交
        form.on('submit(subBtn)', function(data){
            layer.msg(JSON.stringify(data.field));
            return false;
        });

        form.on('radio(type)', function (data) {
//            console.log(data.elem); //得到radio原始DOM对象
//            console.log(data.value); //被点击的radio的value值
//            layer.alert(data.value, {icon: 1});
            if (data.value == 'prj') {
                $('#prj').removeAttr('disabled');
            } else {
                $('#prj').attr('disabled', 'disabled');
            }
            // 重置表格状态
            form.render(null, 'addSfe');
        })

    });

</script>

</body>
</html>