<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>自查</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">

    <style>
        .childrenBody{
            margin: 10px 10px 0;
        }
    </style>

</head>
<body class="childrenBody">
<form class="layui-form" action="" lay-filter="addItem">
    <input type="hidden" name="sid" id="sid">
    <div class="layui-form-item">
            <table class="layui-table">
                <tbody>
                    <tr>
                        <td width="7%" class="layui-bg-gray">自查名称：</td>
                        <td id="sname">2</td>
                    </tr>
                    <tr>
                        <td class="layui-bg-gray">项目：</td>
                        <td id="prjname">2</td>
                    </tr>
                    <tr>
                        <td class="layui-bg-gray">总评审数：</td>
                        <td id="total">20</td>
                    </tr>
                    <!--<tr>-->
                        <!--<td class="layui-bg-gray">评审名称：</td>-->
                        <!--<td id="rname">2</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td class="layui-bg-gray">评审标准：</td>-->
                        <!--<td id="standard">2</td>-->
                    <!--</tr>-->

                </tbody>
            </table>

            <table class="layui-table">
                <thead>
                <!--<tr>-->
                    <!--<th colspan="5" id="current">当前第1/20个</th>-->
                <!--</tr>-->
                <tr>
                    <th>评审名称</th>
                    <th colspan="4" id="rname">2</th>
                </tr>
                <tr>
                    <th>评审标准</th>
                    <th colspan="4" id="standard" style="background-color: #fbfbfb; color: #009688; font-weight: bold;">

                    </th>
                </tr>
                <tr>
                    <th width="5%" style="text-align: center">等级</th>
                    <th width="50%">要求</th>
                    <th>参考资料</th>
                    <th>自查说明</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="text-align: center">
                            <input type="radio" name="lv" value="A" title="A" CHECKED>
                        </td>
                        <td id="reqA">A</td>
                        <td rowspan="3" id="eg">A</td>
                        <td rowspan="3">
                            <textarea name="remark" placeholder="如有问题，在这里填入问题描述。" class="layui-textarea"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center">
                            <input type="radio" name="lv" value="B" title="B">
                        </td>
                        <td id="reqB">B</td>
                    </tr>
                    <tr>
                        <td style="text-align: center">
                            <input type="radio" name="lv" value="C" title="C">
                        </td>
                        <td id="reqC">C</td>
                    </tr>
                </tbody>
            </table>
        </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <div class="layui-btn-group">
                <button class="layui-btn layui-btn-primary" type="reset">
                    <i class="layui-icon">&#xe60e;重置</i>
                </button>
                <button class="layui-btn" lay-submit lay-filter="subBtn">
                    <i class="layui-icon">&#xe65b;提交</i>
                </button>
                <button class="layui-btn" id="next" type="button">
                    <i class="layui-icon">&#xe65b;下一个</i>
                </button>
            </div>
        </div>
    </div>
</form>

<script th:src="@{/layui/layui.js}"></script>
<script>
    //Demo
    layui.use(['element', 'form', 'table'], function(){
        var form = layui.form,
            $ = layui.jquery,
            table = layui.table;
        // 初始化数据
        getData(1);

        //监听提交
        // form.on('submit(subBtn)', function(data){
        //     // layer.msg(JSON.stringify(data.field));
        //     // return false;
        //     var sid = $("#sid").val();
        //     getData(sid + 1);
        // });

        $("#next").click(function () {
            var sid = $("#sid").val();
            getData(parseInt(sid) + 1);
        });

        // 获取数据
        function getData(id) {
            $.ajax({
                url:'/sfe/get/' + id,
                type: 'get',
                success:function (data) {

                    $("#sid").val(data.sid);
                    $("#sname").html(data.sname);
                    $("#prjname").html(data.project.prjname);
                    $("#rname").html(data.secareview.rname);
                    $("#standard").html('<span class="layui-badge layui-bg-orange">6/20</span>&nbsp;&nbsp;');
                    $("#standard").append(data.secareview.standard);
                    $("#reqA").html(data.secareview.requiredA);
                    $("#reqB").html(data.secareview.requiredB);
                    $("#reqC").html(data.secareview.requiredC);
                    $("#eg").html(data.secareview.eg);
                }
            });
        }

    });

</script>

<!-- templet -->
<script type="text/html" id="sarTpl">
    {{# return d.require}}
</script>

</body>
</html>