<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>欢迎使用MIMS-多功能综合管理系统</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">

    <style>
        /*防止第一个tab被删掉*/
        .layui-tab ul.layui-tab-title li:nth-child(1) i {
            display: none;
        }

        .layui-tab-content {
            padding: 0px 0px;
        }

        .childrenBody{
            margin: 10px 10px 0;
        }
    </style>

</head>
<body class="layui-layout-body ">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header header">
        <div class="layui-logo" style="color: white">MIMS-多功能综合管理系统</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <!--<ul class="layui-nav layui-layout-left">-->
            <!--<li class="layui-nav-item"><a href="">控制台</a></li>-->
            <!--<li class="layui-nav-item"><a href="">商品管理</a></li>-->
            <!--<li class="layui-nav-item"><a href="">用户</a></li>-->
            <!--<li class="layui-nav-item">-->
                <!--<a href="javascript:;">其它系统</a>-->
                <!--<dl class="layui-nav-child">-->
                    <!--<dd><a href="">邮件管理</a></dd>-->
                    <!--<dd><a href="">消息管理</a></dd>-->
                    <!--<dd><a href="">授权管理</a></dd>-->
                <!--</dl>-->
            <!--</li>-->
        <!--</ul>-->
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    LouieMain
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">退出</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-this"><a href="/index"><i class="layui-icon">&#xe68e;</i> 主页</a></li>
                <li class="layui-nav-item">
                    <a class="" href="javascript:;"><i class="layui-icon">&#xe65e;</i> 财务管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" class="site-demo-active"
                               data-type="tabAdd"
                               data-src="indexTab"
                               data-title="收入/支出"
                               data-url="/index"
                               data-id="inAndOut"><i class="layui-icon">&#xe64e;</i> 收入/支出</a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="layui-icon">&#xe63c;</i> 工作管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" class="site-demo-active"
                               data-type="tabAdd"
                               data-src="indexTab"
                               data-title="事项"
                               data-url="/itemList"
                               data-id="itemList"><i class="layui-icon">&#xe64e;</i> 事项</a>
                        </dd>
                        <dd><a href="javascript:;" class="site-demo-active"
                               data-type="tabAdd"
                               data-src="indexTab"
                               data-title="项目"
                               data-url="/prjList"
                               data-id="prjList"><i class="layui-icon">&#xe64e;</i> 项目</a>
                        </dd>
                        <dd><a href="javascript:;" class="site-demo-active"
                               data-type="tabAdd"
                               data-src="indexTab"
                               data-title="二甲评审"
                               data-url="/sarList"
                               data-id="sarList"><i class="layui-icon">&#xe64e;</i> 二甲评审</a>
                        </dd>
                        <dd><a href="javascript:;" class="site-demo-active"
                               data-type="tabAdd"
                               data-src="indexTab"
                               data-title="自查"
                               data-url="/sfeList"
                               data-id="sfeList"><i class="layui-icon">&#xe64e;</i> 自查</a>
                        </dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->

        <div class="layui-tab layui-tab-brief" lay-filter="indexTab"  lay-allowClose="true" style="margin: 0px">
            <ul class="layui-tab-title">
                <li class="layui-this" lay-id="0">首页</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show childrenBody">这是首页，欢迎使用！
                </div>
            </div>
        </div>

        <div class="site-demo-button" style="margin-bottom: 0;">
            <!--<button class="layui-btn site-demo-active" data-type="tabAdd">新增Tab项</button>-->
            <!--<button class="layui-btn site-demo-active" data-type="tabDeleteAll">删除所有</button>-->
        </div>

    </div>

    <div class="layui-footer" style="text-align: center">
        <!-- 底部固定区域 -->
        版权归©louiemain所有 - 当前版本v0.1
    </div>
</div>
<script th:src="@{/layui/layui.js}"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var $ = layui.jquery
            ,element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块

        //触发事件
        var active = {
            tabAdd: function(othis){
                //新增一个Tab项
                element.tabAdd(othis.data('src'), {
                    title: othis.data('title')
                    ,content: '<iframe style="width: 100%; height:100%; border:none; min-width: 320px;" data-frameid="'+othis.data('id')+'" src="' + othis.data('url') + '"></iframe>'
                    // ,content: '<iframe data-frameid="'+othis.data('id')+'" frameborder="0" name="content" scrolling="no" width="100%" src="' + othis.data('url') + '"></iframe>'
                    ,id: othis.data('id')
                });
                element.tabChange(othis.data('src'), othis.data('id')); //切换到新增的tab
                FrameWH();
            }
            ,tabDelete: function(othis){
                //删除指定Tab项
                element.tabDelete('demo', '44');

                // 将btn设为灰色
//                othis.addClass('layui-btn-disabled');
            }
            ,tabDeleteAll: function () {
                // 删除所有选项卡
                var tabtitle = $(".layui-tab-title li");
                $.each(tabtitle, function () {
                    element.tabDelete('demo', $(this).attr("lay-id"));
                })
            }
            ,tabChange: function(othis){
                //切换到指定Tab项
                element.tabChange(othis.data('src'), othis.data('id'));
            }
        };

        $('.site-demo-active').on('click', function(){
            var othis = $(this),
                type = othis.data('type');

            // 同样的tab只允许打开一个
            if ($(".layui-tab-title li[lay-id]").length <= 0) {
                active.tabAdd(othis);
            } else {
                var isData = false;
                $.each($(".layui-tab-title li[lay-id]"), function () {
                    if ($(this).attr("lay-id") == othis.attr("data-id")) {
                        isData = true;
                    }
                })
                if (isData == false) {
                    active.tabAdd(othis);
                }
            }
            active.tabChange(othis);

//            active[type] ? active[type].call(this, othis) : '';
//            active.tabAdd('测试', '/test', '100');
        });

        //Hash地址的定位
        var layid = location.hash.replace(/^#test=/, '');
        element.tabChange('test', layid);

        element.on('tab(test)', function(elem){
            location.hash = 'test='+ $(this).attr('lay-id');
        });

        // 计算iframe高度
        function FrameWH() {
            var h = $(window).height() - 41 - 10 - 60 - 10 - 44 - 3;
            $("iframe").css("height",h+"px");
        }
        $(window).resize(function () {
            FrameWH();
        })

    });

</script>
</body>
</html>