<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>事项处理</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/custom/css/mycss.css}">

</head>
<body class="childrenBody">
<ul class="layui-timeline">
    <li class="layui-timeline-item">
        <i class="layui-icon layui-timeline-axis"></i>
        <div class="layui-timeline-content layui-text">
            <h2 class="layui-timeline-title">
                2017-12-28
            </h2>
            <div class="layui-fluid">
                <div class="layui-row layui-col-space10">
                    <div class="layui-col-md4">
                        <dl class="fly-panel fly-list-one">
                            <dt class="fly-panel-title fly-panel-header header-orange">
                                <span class="layui-badge-dot layui-bg-gray"></span>
                                临时事项
                                <div style="float: right">
                                    <i class="layui-icon" style="cursor: pointer; color: #FF5722; line-height: 55px; font-size: 20px" title="关闭">&#x1007;</i>
                                </div>
                            </dt>
                            <dd>
                                <table class="layui-table"  lay-even>
                                    <colgroup>
                                        <col width="30%">
                                    </colgroup>
                                    <tbody>
                                    <tr>
                                        <td class="td-key"><i class="layui-icon">&#xe611; </i>事项名:</td>
                                        <td class="td-value">测试</td>
                                    </tr>
                                    <tr>
                                        <td class="td-key"><i class="layui-icon">&#xe612; </i>负责人:</td>
                                        <td class="td-value">走走</td>
                                    </tr>
                                    <tr>
                                        <td class="td-key"><i class="layui-icon">&#xe613; </i>协助人:</td>
                                        <td class="td-value">啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊</td>
                                    </tr>
                                    <tr>
                                        <td class="td-key"><i class="layui-icon">&#xe63f; </i>开始点:</td>
                                        <td class="td-value">2017-12-28</td>
                                    </tr>
                                    <tr>
                                        <td class="td-key"><i class="layui-icon">&#xe617; </i>结束点:</td>
                                        <td class="td-value">2017-12-28</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </dd>
                            <dt class="fly-panel-footer">
                                <span class="layui-badge-rim rim-red">延期</span>&nbsp;&nbsp;&nbsp;
                                <span class="layui-badge-rim rim-green">完成</span>
                            </dt>
                        </dl>
                    </div>
                    <div class="layui-col-md4">
                        <dl class="fly-panel fly-list-one">
                            <dt class="fly-panel-title fly-panel-header header-orange">
                                <span class="layui-badge-dot layui-bg-gray"></span>
                                临时事项
                                <div style="float: right">
                                    <i class="layui-icon" style="cursor: pointer; color: #FF5722; line-height: 55px; font-size: 20px" title="关闭">&#x1007;</i>
                                </div>
                            </dt>
                            <dd>
                                <table class="layui-table"  lay-even>
                                    <colgroup>
                                        <col width="30%">
                                    </colgroup>
                                    <tbody>
                                    <tr>
                                        <td class="td-key"><i class="layui-icon">&#xe611; </i>事项名:</td>
                                        <td class="td-value">测试</td>
                                    </tr>
                                    <tr>
                                        <td class="td-key"><i class="layui-icon">&#xe612; </i>负责人:</td>
                                        <td class="td-value">走走</td>
                                    </tr>
                                    <tr>
                                        <td class="td-key"><i class="layui-icon">&#xe613; </i>协助人:</td>
                                        <td class="td-value">啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊</td>
                                    </tr>
                                    <tr>
                                        <td class="td-key"><i class="layui-icon">&#xe63f; </i>开始点:</td>
                                        <td class="td-value">2017-12-28</td>
                                    </tr>
                                    <tr>
                                        <td class="td-key"><i class="layui-icon">&#xe617; </i>结束点:</td>
                                        <td class="td-value">2017-12-28</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </dd>
                            <dt class="fly-panel-footer">
                                <span class="layui-badge-rim rim-red">延期</span>&nbsp;&nbsp;&nbsp;
                                <span class="layui-badge-rim rim-green">完成</span>
                            </dt>
                        </dl>
                    </div>
                    <div class="layui-col-md4">
                        <dl class="fly-panel fly-list-one">
                            <dt class="fly-panel-title fly-panel-header header-orange">
                                <span class="layui-badge-dot layui-bg-gray"></span>
                                临时事项
                                <div style="float: right">
                                    <i class="layui-icon" style="cursor: pointer; color: #FF5722; line-height: 55px; font-size: 20px" title="关闭">&#x1007;</i>
                                </div>
                            </dt>
                            <dd>
                                <table class="layui-table"  lay-even>
                                    <colgroup>
                                        <col width="30%">
                                    </colgroup>
                                    <tbody>
                                    <tr>
                                        <td class="td-key"><i class="layui-icon">&#xe611; </i>事项名:</td>
                                        <td class="td-value">测试</td>
                                    </tr>
                                    <tr>
                                        <td class="td-key"><i class="layui-icon">&#xe612; </i>负责人:</td>
                                        <td class="td-value">走走</td>
                                    </tr>
                                    <tr>
                                        <td class="td-key"><i class="layui-icon">&#xe613; </i>协助人:</td>
                                        <td class="td-value">啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊</td>
                                    </tr>
                                    <tr>
                                        <td class="td-key"><i class="layui-icon">&#xe63f; </i>开始点:</td>
                                        <td class="td-value">2017-12-28</td>
                                    </tr>
                                    <tr>
                                        <td class="td-key"><i class="layui-icon">&#xe617; </i>结束点:</td>
                                        <td class="td-value">2017-12-28</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </dd>
                            <dt class="fly-panel-footer">
                                <span class="layui-badge-rim rim-red">延期</span>&nbsp;&nbsp;&nbsp;
                                <span class="layui-badge-rim rim-green">完成</span>
                            </dt>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li class="layui-timeline-item">
        <i class="layui-icon layui-timeline-axis"></i>
        <div class="layui-timeline-content layui-text">
            <h3 class="layui-timeline-title">
                2017-12-26
            </h3>
            <div class="layui-fluid">
                <div class="layui-row layui-col-space10">
                    <div class="layui-col-md4">
                        <dl class="fly-panel fly-list-one">
                            <dt class="fly-panel-title fly-panel-header header-gray">
                                <span class="layui-badge-dot layui-bg-gray"></span>
                                临时事项
                                <div style="float: right">
                                    <i class="layui-icon" style="cursor: pointer; color: #FF5722; line-height: 55px; font-size: 20px" title="关闭">&#x1007;</i>
                                </div>
                            </dt>
                            <dd>
                                <table class="layui-table"  lay-even>
                                    <colgroup>
                                        <col width="30%">
                                    </colgroup>
                                    <tbody>
                                    <tr>
                                        <td class="td-key"><i class="layui-icon">&#xe611; </i>事项名:</td>
                                        <td class="td-value">测试</td>
                                    </tr>
                                    <tr>
                                        <td class="td-key"><i class="layui-icon">&#xe612; </i>负责人:</td>
                                        <td class="td-value">走走</td>
                                    </tr>
                                    <tr>
                                        <td class="td-key"><i class="layui-icon">&#xe613; </i>协助人:</td>
                                        <td class="td-value">啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊</td>
                                    </tr>
                                    <tr>
                                        <td class="td-key"><i class="layui-icon">&#xe63f; </i>开始点:</td>
                                        <td class="td-value">2017-12-28</td>
                                    </tr>
                                    <tr>
                                        <td class="td-key"><i class="layui-icon">&#xe617; </i>结束点:</td>
                                        <td class="td-value">2017-12-28</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </dd>
                            <dt class="fly-panel-footer">
                                <span class="layui-badge-rim rim-red">延期</span>&nbsp;&nbsp;&nbsp;
                                <span class="layui-badge-rim rim-green">完成</span>
                            </dt>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li class="layui-timeline-item">
        <i class="layui-icon layui-timeline-axis"></i>
        <div class="layui-timeline-content layui-text">
            <h3 class="layui-timeline-title">
                结束。
            </h3>
        </div>
    </li>
</ul>

<script th:src="@{/layui/layui.js}"></script>
<script>
    //JavaScript代码区域
    layui.use(['element', 'layer'], function(){
        var $ = layui.jquery
            , element = layui.element
            , layer = layui.layer; // 解决modal覆盖外层页面

    });
</script>
</body>
</html>