<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>病理技师（初级）习题练习 - 随机出题</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/custom/css/mycss.css}">

    <style>
        .body {
            background-color: #f2f2f2;
        }
    </style>

</head>
<body class="layui-layout-body body">

<form id="form" action="/showContent" method="post">
    <input type="hidden" id="json" name="json">
</form>

<!-- 存储所有文章数据 -->
<input type="hidden" id="allData">
<input type="hidden" id="tmp" value="0">

<div class="layui-layout layui-layout-admin">
    <div class="layui-header layui-bg-green">
        <div class="layui-logo" style="color: white">初级病理技师习题练习系统</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->

        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item"><a href="/home">主页</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">病理技师(初级)</a>
                <dl class="layui-nav-child">
                    <dd><a href="/exercises">练习 - 章节</a></dd>
                    <dd><a href="/exercisesRandom">练习 - 随机</a></dd>
                    <dd><a href="/mockExam">考试模拟</a></dd>
                    <dd><a href="/examCatalog">考试大纲</a></dd>
                </dl>
            </li>

            <li class="layui-nav-item"><a href="javascript:;" id="upd">精品文章</a></li>

        </ul>
        <ul class="layui-nav layui-layout-right" style="display: inline">
        </ul>
    </div>

    <!-- 中间区域 -->
    <div class="layui-body" style="left: 0px; padding: 20px 15%">
        <div class="layui-fluid">
            <div class="layui-row layui-col-space10">
                <div class="layui-col-md10">
                    <!--<div class="layui-col-md9" style="left: 28%">-->
                    <dl class="fly-panel fly-list-one" style="border-radius: 0px">
                        <!--<dt class="fly-panel-title fly-panel-header-white" >本次答题成绩单</dt>-->
                        <ul class="fly-list" id="content">
                        </ul>
                    </dl>
                </div>
                <div class="layui-col-md2">
                    <dl class="fly-panel fly-list-one" style="border-radius: 0px">
                        <ul class="fly-list" id="analysis">
                            <li style="text-align: center">
                                <h4 style="font-weight: bold; padding-top: 10px">离答题已开始</h4>
                                <span id="showTime">00:00:00</span>
                                <div style="padding-top: 10px">
                                    <input type="hidden" id="guid">
                                    <button class="layui-btn layui-btn-danger layui-btn-radius" onclick="stopAnswer()">
                                        停止答题
                                    </button>
                                </div>
                            </li>
                        </ul>
                    </dl>
                </div>
            </div>

        </div>
    </div>

    <div class="layui-footer" style="text-align: center; left: 0px">
        <!-- 底部固定区域 -->

    </div>
</div>
<script th:src="@{/layui/layui.js}"></script>
<script th:src="@{/custom/js/myjs.js}"></script>
<script>
    //JavaScript代码区域
    layui.use(['element', 'util'], function () {
        var $ = layui.jquery,
            element = layui.element,
            util = layui.util;

        // 生成guid
        $("#guid").val(guid());

        // 初始化题目
        window.initTopic = function () {
            // 生成随机数id
            var id = Math.round(Math.random() * 2139 + 1);
            // 初始化题目
            $.ajax({
                url: '/blcj/get/' + id,
                type: 'get',
                async: false,
                success: function (data) {
                    var li = '';
                    li += '<li>\n' +
                        '                                <!-- 题目内容 -->\n' +
                        '<input type="hidden" id="examid" value="' + data.id + '">' +
                        '                                <h2>\n' +
                        '                                    <a>' + data.name + '</a>\n' +
                        '                                    <a style="float: right; font-size: medium" class="fly-list-info">[' + data.type + ']</a>\n' +
                        '                                </h2>\n' +
                        '                                <hr class="layui-bg-green">\n' +
                        '                                <!-- 选项 -->\n' +
                        '                                <div class="layui-fluid">\n' +
                        '                                    <div class="layui-row ">\n' +
                        '                                        <div class="layui-col-md9" id="radio">\n' +
                        '                                            <div class="radio">\n' +
                        '                                                <button class="layui-btn layui-btn-radius layui-btn-primary" id="A">' + data.radio.a + '</button><br>\n' +
                        '                                                <button class="layui-btn layui-btn-radius layui-btn-primary" id="B">' + data.radio.b + '</button><br>\n' +
                        '                                                <button class="layui-btn layui-btn-radius layui-btn-primary" id="C">' + data.radio.c + '</button><br>\n' +
                        '                                                <button class="layui-btn layui-btn-radius layui-btn-primary" id="D">' + data.radio.d + '</button><br>\n' +
                        '                                                <button class="layui-btn layui-btn-radius layui-btn-primary" id="E">' + data.radio.e + '</button><br>\n' +
                        '                                            </div>\n' +
                        '                                        </div>\n' +
                        '                                        <div class="layui-col-md3" >\n' +
                        '                                            <span id="commons">' + data.commons + '</span>\n' +
                        '                                        </div>\n' +
                        '                                    </div>\n' +
                        '                                </div>\n' +
                        '\n' +
                        '                                <!-- 按钮 -->\n' +
                        '                                <span style="font-size: medium" class="fly-list-info">' + data.catalog + '</span>\n' +
                        '                                <div class="layui-btn-group" style="float: right">\n' +
                        '                                    <button class="layui-btn layui-btn-primary layui-btn-sm" onclick="initTopic()" title="下一题">\n' +
                        '                                        <i class="layui-icon">&#xe602;</i>\n' +
                        '                                    </button>\n' +
                        '                                    <button class="layui-btn layui-btn-primary layui-btn-sm" id="showAnser" onclick="showOrHidden()" style="display: none" title="查看/隐藏答案">\n' +
                        '                                        <i class="layui-icon">&#xe625;</i>\n' +
                        '                                    </button>\n' +
                        '                                </div><br>\n' +
                        '\n' +
                        '                                <!-- 答案及解析 -->\n' +
                        '                                <fieldset class="layui-elem-field layui-field-title" style="display: none" id="result">\n' +
                        '                                    <legend style="text-align: center; color: #959595">答案及解析</legend>\n' +
                        '                                    <h4 style="font-weight: bold">答案 <span class="layui-badge layui-bg-green" id="anser">' + data.anser + '</span></h4>\n' +
                        '                                    <h4 style="font-weight: bold; line-height: 30px">解析</h4>\n' +
                        '                                    <blockquote >' + data.analysis + '</blockquote>\n' +
                        '                                </fieldset>\n' +
                        '                            </li>';
                    $("#content").html(li);
                    // 初始化选项
                    var commons = $("#commons").text();
                    if (commons == '') {
                        $("#radio").removeAttr('class', 'layui-col-md9');
                        $("#radio").attr('class', 'layui-col-md12');
                    }

                }
            });
        }

        initTopic();

        // 显示或隐藏答案
        window.showOrHidden = function () {
            if ($("#result").css('display') == 'none') {
                $("#result").css('display', 'block');
            } else {
                $("#result").css('display', 'none');
            }
        };

        // 选择答案处理(动态绑定事件处理使用on代理，'.radio .layui-btn'（动态添加的元素）必须包含在"#content"（已经有的元素）中)
        $("#content").on('click', '.radio .layui-btn', function (e) {
            var target = $(e.target);
            var id = e.target.getAttribute("id");
            var anser = $("#anser").text(), sign = 0;
            // 禁用所有按钮
            $(".radio .layui-btn").addClass('layui-btn-disabled').attr('disabled', 'disabled');
            // 启用当前点击按钮
            target.removeClass('layui-btn-disabled').removeAttr('disabled');
            // 答案正确
            if (id == anser) {
                target.removeClass('layui-btn-primary');
                $("#showAnser").css('display', 'inline');
                sign = 1;
            } else {
                // 错误
                target.removeClass('layui-btn-primary').addClass('layui-btn-danger');
                // 改变正确答案的颜色
                anser = '#' + anser;
                $(anser).removeClass('layui-btn-disabled').removeClass('layui-btn-primary');
                // 显示答案
                $("#result").css('display', 'block');
                $("#showAnser").css('display', 'inline');
            }

            // 提交答题记录
            $.ajax({
                url: '/ansr/add',
                type: 'post',
                data: {
                    "examid": $("#examid").val(),
                    "selectans": id,
                    "sign": sign,
                    "ansid": $("#guid").val(),
                    "remark": ""
                },
                async: false,
                success: function (data) {
                    // do something
                }
            });


            // 获取本题准确率
            $.ajax({
                url: '/ansr/getAccuracy/' + $("#examid").val(),
                type: 'get',
                success: function (data) {
                    var accu = '<h4 style="font-weight: bold; padding-top: 10px">本题准确率</h4>\n' +
                    '                                <div class="layui-progress layui-progress-big" lay-showpercent="true" lay-filter="demo">\n' +
                    '                                    <div class="layui-progress-bar layui-bg-green" lay-percent="'+(JSON.parse(data)).accuracy+'"></div>\n' +
                    '                                </div>';
                    // 初始化进度条
                    $("#result").append(accu);
                    element.init('progress');
                }
            });

        })

        // 初始化底部信息区域数据
        $.ajax({
            url: '/upd/get/max',
            type: 'get',
            success: function (data) {
                $(".layui-footer").html("版权归©louiemain所有 - 当前版本v " + data.ver);
            }
        });

        // 计时开始
        var m = 0, h = 0, s = 0;
        var timer = setInterval(function () {
            s++;
            if (s > 0 && (s % 60) == 0) {
                m += 1;
                s = 0;
            }
            if (m > 0 && (m % 60) == 0) {
                h += 1;
                m = 0;
            }
            t = addZero(h) + ":" + addZero(m) + ":" + addZero(s);  //时分秒运算
            $("#showTime").text(t);
        }, 1000);

        // 停止答题
        window.stopAnswer = function () {
            clearInterval(timer);
            window.location.href = "/ansReport/随机出题/" + $("#showTime").text() + "/" +$("#guid").val();
        }

    });

</script>
</body>
</html>