<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>主页</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/custom/css/mycss.css}">

    <style>
        .body{
            background-color: #f2f2f2;
        }
    </style>

</head>
<body class="layui-layout-body body">

<form id="form" action="/showContent" method="post">
    <input type="hidden" id="json" name="json">
</form>

<!-- 存储所有文章数据 -->
<input type="hidden" id="allData">
<input type="hidden" id="tmp" value="0">

<div class="layui-layout layui-layout-admin">
    <div class="layui-header layui-bg-green">
        <div class="layui-logo" style="color: white">综合内容展示系统</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->

        <ul class="layui-nav layui-layout-left">
            <input type="text" name="title" placeholder="输入内容按回车键或点击别处搜索。" class="layui-input search" >
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item"><a href="/home">主页</a></li>

            <li class="layui-nav-item">
                <a href="javascript:;">病理技师(初级)</a>
                <dl class="layui-nav-child">
                    <dd><a href="/exercises">习题练习</a></dd>
                    <dd><a href="/mockExam">考试模拟</a></dd>
                    <dd><a href="/examCatalog">考试大纲</a></dd>
                </dl>
            </li>

            <li class="layui-nav-item"><a href="javascript:;" id="upd">精品文章</a></li>

        </ul>
        <ul class="layui-nav layui-layout-right" style="display: inline">
        </ul>
    </div>

    <!-- 中间区域 -->

    <div class="layui-footer" style="text-align: center; left: 0px">
        <!-- 底部固定区域 -->

    </div>
</div>
<script th:src="@{/layui/layui.js}"></script>
<script th:src="@{/custom/js/myjs.js}"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var $ = layui.jquery
            , element = layui.element; // 解决modal覆盖外层页面

    });

</script>
</body>
</html>