<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>前台页面</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/custom/css/mycss.css}">

    <style>
        .body{
            background-color: #f2f2f2;
        }
    </style>

</head>
<body class="layui-layout-body body">

<form id="form" action="/showContent" method="post">
    <input type="hidden" id="json" name="json">
</form>

<!-- 存储所有文章数据 -->
<input type="hidden" id="allData">
<input type="hidden" id="tmp" value="0">

<div class="layui-layout layui-layout-admin">
    <div class="layui-header layui-bg-green">
        <div class="layui-logo" style="color: white">前台展示</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->

        <ul class="layui-nav layui-layout-left">
            <input type="text" name="title" placeholder="输入内容按回车键或点击别处搜索。" class="layui-input search" >
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">考试大纲</a>
                <dl class="layui-nav-child">
                    <dd><a href="#">病理技师（初级）</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="javascript:;" id="upd">精品文章</a></li>

        </ul>
        <ul class="layui-nav layui-layout-right" style="display: inline">
        </ul>
    </div>

    <!-- 中间区域 -->
    <div class="layui-body" style="left: 0px; padding: 20px 80px">
        <div class="layui-fluid">
            <div class="layui-row layui-col-space20">
                <div class="layui-col-md3" style="display: block; height: 20%;">
                <!--<div class="layui-col-md3" style="display: block; height: 20%; position: fixed">-->
                    <dl class="fly-panel fly-list-one" style="border-radius: 0px">
                        <dt class="fly-panel-title">
                            导航
                        </dt>
                        <dd>
                            <!-- tree -->
                            <div style="display: inline-block; width: 100%; height: 100%; padding: 10px; overflow: auto;">
                                <ul id="dict"></ul>
                            </div>
                        </dd>
                    </dl>
                </div>
                <div class="layui-col-md9" >
                <!--<div class="layui-col-md9" style="left: 28%">-->
                    <dl class="fly-panel fly-list-one" style="border-radius: 0px">
                        <dt class="fly-panel-title fly-panel-header-white" >文章</dt>
                        <ul class="fly-list" id="content">

                        </ul>
                    </dl>
                </div>
            </div>

        </div>
    </div>

    <div class="layui-footer" style="text-align: center; left: 0px">
        <!-- 底部固定区域 -->

    </div>
</div>
<script th:src="@{/layui/layui.js}"></script>
<script th:src="@{/custom/js/myjs.js}"></script>
<script>
    //JavaScript代码区域
    layui.use(['element', 'layer', 'laydate', 'form', 'tree', 'util'], function(){
        var $ = layui.jquery
            , element = layui.element
            , layer = layui.layer,
            laydate = layui.laydate, form = layui.form
            ,util = layui.util;; // 解决modal覆盖外层页面

        //固定块
//        util.fixbar({
//            bar1: true
//            ,bar2: true
//            ,css: {right: 50, bottom: 100}
//            ,bgcolor: '#393D49'
//            ,click: function(type){
//                if(type === 'bar1'){
//                    layer.msg('icon是可以随便换的')
//                } else if(type === 'bar2') {
//                    layer.msg('两个bar都可以设定是否开启')
//                }
//            }
//        });

        // 初始化底部信息区域数据
        $.ajax({
            url: '/upd/get/max',
            type: 'get',
            success: function (data) {
                $(".layui-footer").html("版权归©louiemain所有 - 当前版本v " + data.ver);
            }
        });

        // 获取文章
        getArticle();
        function getArticle() {
            var search = $(".search").val();
            // 解决搜索框未改变会继续查询问题
            if ($("#tmp").val() == search) {
                return false;
            }
            $("#tmp").val(search);
            $.ajax({
                url: '/syb/search',
                type: 'get',
                data: {
                    "search": search
                },
                success: function (data) {
                    // 存储数据
                    $("#allData").val(JSON.stringify(data));
                    initArticle(data);
                }
            });
        }

        // 初始tree
        $.ajax({
            url: '/syb/get/catalog',
            type: 'get',
            success: function (data) {
                layui.tree({
                    elem: '#dict' //指定元素
                    ,target: '_blank' //是否新选项卡打开（比如节点返回href才有效）
                    ,click: function(item) { //点击节点回调
                        var allData = JSON.parse($("#allData").val());
                        var dist = new Array();
                        for (var i = 0; i < allData.length; i++) {
                            if (allData[i].subject == item.name || allData[i].chapter == item.name || allData[i].unit == item.name) {
                                dist.push(allData[i]);
                            }
                        }
                        initArticle(dist);
                    }
                    ,nodes: JSON.parse(data)
                });

            }
        });

        // 初始化文章
        function initArticle(result) {
            var lis = '';
            for (var i = 0; i < result.length; i++) {
                // 颜色
                var color = '';
                // 文字
                var title = '';
                switch (result[i].req) {
                    case 0:
                        color = 'layui-bg-green';
                        title = '了解';
                        break;
                    case 1:
                        color = 'layui-bg-orange';
                        title = '掌握';
                        break;
                    case 2:
                        color = '';
                        title = '熟练';
                        break;
                }

                // 引用文字
                var block = result[i].content;
                block = block.substr(0, 50) + "......";
                // 判断是否为中文
                var reg = new RegExp("[\\u4E00-\\u9FFF]+","g");
                if (!reg.test(block)) {
                    block = "未获取到描述内容。";
                }

                // 处理content&name中的引号
                var content = result[i].content, name = result[i].name;
                name = name.replace(/"/g, '\\\"');
                content = content.replace(/"/g, '\\\"');
                result[i].name = name;
                result[i].content = content;

                lis += '                        <li>\n' +
                    '                                <h2>\n' +
                    '                                    <a class="layui-badge '+color+'">'+title+'</a>\n' +
                    '                                    <a href="javascript:;" onclick="show(\''+JSON.stringify(result[i]).replace(/"/g, '&quot;') +'\')">'+result[i].name+'</a>\n' +
                    '                                </h2>\n' +
                    '                                <blockquote><span style="font-size: 30px; font-weight: bold">” </span>'+block+'</blockquote>\n' +
                    '                                <div class="fly-list-info">\n' +
                    '                                    <span><i class="layui-icon">&#xe612; </i>'+result[i].creator+'</span>\n' +
                    '                                    <span><i class="layui-icon">&#xe60e; </i>'+timeStamp2String(result[i].creatdate)+'</span>\n' +
                    '                                    <span class="fly-list-nums">\n' +
                    '                                        <span class="layui-badge-dot '+color+'" title="'+title+'"></span>\n' +
                    '                                    </span>\n' +
                    '                                </div>\n' +
                    '                            </li>';
            }
            $("#content").html(lis);
        }

        // 展示内容
        window.show = function(val) {
            $("#json").val(val);
            $("#form").submit();
        }

        $(".search").hover(function () {
            $(".search").parent("li").removeClass('layui-this');
        })

        // 回车键搜索
        $(".search").keydown(function(e){
            // 监听回车键
            if(e.keyCode==13) {
                // 失去焦点
                $(".search").blur();
                getArticle();
            }
        });
        // 失去焦点搜索
        $(".search").blur(function () {
            getArticle();
        })
    });

</script>
</body>
</html>